
@import '../../standard.module.css';

.category {
    flex-shrink: 0;
    width: 260px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.header {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_name {
    padding: 8px;
    margin-right: 8px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
}

.active_category_name {
    display: flex;
    padding: 8px;
    margin-right: 8px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}
.textarea {
    height: 15px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.date {
    color: var(--medium-grey);
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


