.emoji {
    font-size: 15px;
    border: 1px solid #eaeae9;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
             rgba(15, 15, 15, 0.1) 0px 2px 4px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    font-size: 60px;
}