
/* Figure out why this isn't properly outfitted in the title example. */
.emojis {
    border: 1px solid #eaeae9;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
             rgba(15, 15, 15, 0.1) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(180px) translateY(45px);
    font-size: 24px;
    background: white;
    height: 300px;
    line-height: 1.5;
    width: 400px;
    z-index: 10;
    /* pointer-events:all; */
}

.emojis.open {
    opacity: 1;
    transition: 500ms;
}
.emojis.closed {
    opacity: 0;
    transition: 500ms;
}


.top {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom {
    box-sizing: border-box;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 145px;
}

.section {
    padding-top: 6px;
    padding-bottom: 6px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: left;
    align-items: center;
}

.emoji {
    font-size: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
/* Allows descriptors to be centered left and right depending on whether the emoji
is first or last in the row, respectively. */
.left {
    align-items: start;
}
.right {
    align-items: end;
}
.actual {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.actual:hover {
    background: rgb(228, 228, 228);
    border-radius: 4px;
    cursor: pointer;
}

.descriptor {
    text-align: center;
    background:	#343d46;
    color: white;
    border-radius: 4px;
    margin-top: 3px;
    width: 30px;
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    opacity: 85%;
    width: 60px;
    max-width: fit-content;
    display: inline-block;
    word-wrap: break-word;
    line-height: 15px;
}


.active {
    background: rgb(239, 239, 239, 1);
    border-radius: 4px;
}

.cluster {
    padding-bottom: 10px;
}
.categories {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.category {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 120%;
    justify-content: flex-start;
    text-transform: uppercase;
    color: rgba(55, 53, 47, 0.65);
    font-size: 11px;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 4px;
}
.search {
    color: rgb(55, 53, 47);
    display: inherit;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeae9;
    padding: 1px 5px;
    cursor: text;
    height: inherit;
    background: rgba(242, 241, 238, 0.6);
    width: 80%;
    font-size: inherit;
    border-radius: inherit;
    box-sizing: inherit;

}
.button {
    border: 1px solid #eaeae9;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
    border: 1px solid #eaeae9;
    border-radius: 4px;
    font-size: 20px;
    height: inherit;
    display: inherit;
    box-sizing: inherit;
    width: 28px;
    margin-left: 9px;
    position: relative;
}
.skintone_popup {
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: translateY(40px);
    border: 1px solid #eaeae9;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
             rgba(15, 15, 15, 0.1) 0px 2px 4px;
    padding: 5px;
    background: white;
    font-size: 28px;
}

.skintone_popup > * {
    padding: 4px;
}
.skintone_popup > *:hover {
    background: rgba(223, 222, 222, 0.6);
    border-radius: 4px;
    cursor: pointer;
}

.search:focus {
    border: none;
    outline: none;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    background: rgba(242, 241, 238, 0.6);
    cursor: text;
    box-sizing: border-box;
}

.button:hover {
    background: rgba(242, 241, 238, 0.6);
    cursor: pointer;
}
