.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: left;
    align-items: center;
}

.emoji {
    font-size: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.left {
    align-items: start;
}
.right {
    align-items: end;
}

.actual {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.actual:hover {
    background: rgb(228, 228, 228);
    border-radius: 4px;
    cursor: pointer;
}

.descriptor {
    text-align: center;
    background:	#343d46;
    color: white;
    border-radius: 4px;
    margin-top: 3px;
    width: 30px;
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    opacity: 85%;
    width: 60px;
    max-width: fit-content;
    display: inline-block;
    word-wrap: break-word;
    line-height: 15px;
}
