.group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group:hover {
    cursor: pointer;
}

.main {
    padding: 4px;
    display: flex;
    justify-content: center;
    position: relative;
    color: rgba(165, 164, 161, 1);
    min-width: 22px;
    z-index: 2;
}

.active {
    background-color: rgb(239, 239, 239, 1);
    border-radius: 4px;
    cursor: pointer;
}

.main_large {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgba(165, 164, 161, 1);
    font-size: 90px;
    z-index: 2; 
}