.main {
    padding: 4px;
    display: flex;
    justify-content: center;
    position: relative;
    color: rgba(165, 164, 161, 1);
    min-width: 22px;
}
.active {
    background-color: rgb(239, 239, 239, 1);
    border-radius: 4px;
    cursor: pointer;
}