.none {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  opacity: 0%;
  transform: translate(-50%, -100%);
  height: 100px;
  width: 300px;
  z-index: -100;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup {
    z-index: 5;
    transform: translate(-50%, -50%);
    opacity: 100%;
    transition-duration: 300ms;
    box-shadow:rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, 
    rgba(15, 15, 15, 0.1) 0px 5px 10px,
     rgba(15, 15, 15, 0.2) 0px 15px 40px;
  }

.question {
  margin-bottom: 5px;
}

.popup > button {
  cursor: pointer;
  width: 100%;
  height: 90px;
  margin: 5px;
  transition-duration: 400ms;
}

.none > button {
  cursor: pointer;
  width: 100%;
  height: 90px;
  margin: 5px;
  transition-duration: 400ms;
}


.delete {
  background: rgba(254, 238, 238, 1);
  border: 1px solid rgb(235, 87, 87);
  color: rgb(235, 87, 87);
}

.active {
  background: white;
}


 