.edit_comment {
    display: flex;
}
.active {
    resize: none;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
}
.textarea {
    font-weight: 300;
    resize: none;
    overflow: hidden;
    font-size: 14px;
}



.button {
    display: flex;
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: rgba(154, 154, 151, 1);
    background: none;
}
.button:hover {
    color: rgb(133, 133, 132);
    cursor: pointer;
}