.header_big {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: 50px;
    font-weight: 700;
    line-height: 0.95;
    padding-bottom: 10px;
}

.header_small {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}