.popup { 
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    position: absolute;
    top: 15%;
    margin-left: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background: var(--info);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    color: var(--highlight-text);
}

.emphasize {
    color: white;
}