@import '../../standard.module.css';

.group {
    display: flex;
    flex-direction: row;
}
.add_tag {
    border: none;
    outline: none;
    background: var(--highlight-grey);
    display: flex;
    width: 55px;

    margin: 1px;
    padding: 2px; 
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add_tag:hover {
    cursor: pointer;
    background:  var(--highlight-grey-darker);
}

.add_tag:focus {
    height: 27px;
    background:  var(--highlight-grey-darker);
}

.color_selector {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(75px);
}

.color:hover {
    filter: brightness(0.8);
    cursor: pointer;
}