@import '../../standard.module.css';

.journal_entry {
    display: flex;
    justify-content: space-between;
}

.journal_entry:hover{
    background: var(--highlight-grey);
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.title {
    font-weight: 700;
    border-bottom: 1px solid var(--highlight-grey);
    font-size: 18px;
    display: flex;
    overflow-x: hidden;
}
.date {
    font-size: 11.5px;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

