@import '../../standard.module.css';

/* Want tags and date to be on the right?? */
.journal_entry {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    column-gap: 8px;
}

.journal_entry:hover{
    background: var(--highlight-grey);
    cursor: pointer;
}

.journal_entry_title {
    font-weight: 700;
    border-bottom: 1px solid var(--highlight-grey);
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
}

.title_with_tags {
    max-width: 300px;
}

.comments {
    display: flex;
    color: var(--light-grey);
}
.number {
    margin-left: 2px;
    margin-right: 2px;
}
.tags {
    overflow-x: hidden;
}

.timestamp {
    font-size: 11.5px;
    display: flex;
    justify-content: flex-end;
}

