@import '../../standard.module.css';

.comments {
display: flex;
flex-direction: column;
}
.comment {
    display: flex;
    flex-direction: row;
    max-height: 15%;
    padding: 5px;
}


.slideout {
    width: 0px; 
    transition: 300ms;
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 3;
    overflow-y: scroll;
}

.active {
    width: 500px;
    transition: 300ms;
    box-shadow: var(--box-shadow);
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
}

.main {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.desc {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 200px;
    max-width: 400px;
    row-gap: 20px;
}

.desc_item {
    justify-content: flex-start;
    box-sizing: border-box;
    color: var(--light-grey);
    font-weight: 300;
}