@import '../../standard.module.css';

.comments {
    display: flex;
    flex-direction: column;
}
.comment {
    display: flex;
    flex-direction: row;
    max-height: 15%;
    padding: 5px;
}


.draggable {
    opacity: 0;
    cursor: col-resize;
    flex-shrink: 0;
    width: 5px;
    height: 100%;
}

.slideout {
    width: 0px; 
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    z-index: 3;
    overflow-y: scroll;
}

/* Javascript will set the width to be 500px when the slide out is open. */
.active {
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
}

.main {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.desc {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 20px;
    margin-bottom: 30px;
}

.desc_item {
    justify-content: flex-start;
    box-sizing: border-box;
    color: var(--light-grey);
    font-weight: 300;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}