.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    overflow-x: hidden;
    max-width: 250px;
}

.tags_full {
    flex-wrap: wrap;
}

.tag {
    background: #dbcdf0;
    margin: 1px;
    padding: 2px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
    border-radius: 4px;
}