@import '../../standard.module.css';


.tags {
    display: flex;
    flex-direction: row;
    /* flex-grow: 0.5; */
    /* max-width: 200px; */
    /* align-items: flex-start;
    justify-content: flex-start; */
    /* max-width: 250px; */
    /* background: red; */
}

.tags_full {
    flex-wrap: wrap;
}

.tag {
    margin: 1px;
    padding: 2px; 
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add_tag {
    background: var(--highlight-grey);
}
.active {
    cursor: pointer;
    background: #9081a6;
}

.delete {
    padding: 2px;
    margin-left: 4px;
    border-radius: 4px;
}
