.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 50px;
    position: relative;
}

.title_horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 35px;
    position: relative;
}

.textarea {
    font-size: inherit;
    font-weight: 700;
    cursor: text;
    overflow: hidden;
    resize: vertical;
}