.main {
    background-color: white;
    color: rgb(55, 53, 47);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

