.main {
    background-color: white;
    color: rgb(55, 53, 47);
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.right {
    padding-left: 15%;
    padding-right: 15%;
    /* height: 100%; */
}