.new {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new > textarea:hover {
    cursor: pointer;
    /* background: #eeeeee; */
    background: red;
}

.content {
    align-items: center;
    display: flex;
}