
.comments {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.comment {
    display: flex;
    flex-direction: row;
    max-height: 8%;
    padding: 5px;
}

.text {
    width: 95%;
    display: flex;
    flex-direction: column;
}

img {
    padding: 0;
    margin: 8px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.meta {
    display: flex;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.button {
    display: flex;
    outline: none;
    border: none;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.button:hover {
    background: rgba(237, 237, 236, 1);
    cursor: pointer;
}


.author {
    font-weight: 700;
}

.date {
    margin: 5px;
    font-size: 0.8em;
    font-weight: 500;
    color: rgba(154, 154, 151, 1);
}

.emojis {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.emoji {
    border-radius: 8px;
    width: 37px;
    margin-left: 2px;
    margin-right: 2px;

    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}
.add_emoji {
    border: 1px solid rgba(237, 237, 236, 1);
    border-radius: 8px;
}
.active {
    background: rgba(239, 245, 253, 1);
    color: rgba(36, 131, 226, 1);
    border: 1px solid rgba(172, 206, 245, 1);
}
.active:hover {
    background: rgb(222, 233, 249);
    cursor: pointer;
}

