.banner {
    /* height: 10%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: pink;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
}