.inactive {
    background-color: rgba(251, 251, 250, 1);
    color: rgba(124, 123, 117, 1);
}

.active {
    background-color: rgb(241, 241, 240, 1);
    color: rgba(55, 53, 47, 1);
    cursor: pointer;
}