.sidebar {
    color: rgb(55, 53, 47);
    background-color: rgb(251, 251, 250);
    width: 20%;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.profile {
    width: 35px;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5px;
}

/* Removes sidebar if the window shrinks too much. Maybe should make it 
able to pop back out like in a hamburger menu style? */
@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
}