.main {
    display: flex;
    justify-content: space-between;
    flex-direction: horizontal;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.left {
    display: flex;
    align-items: center;

    flex-direction: horizontal;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: horizontal;
}

.inactive {
    background-color: rgba(251, 251, 250, 1);
    color: rgba(124, 123, 117, 1);
}

.active {
    background-color: rgb(241, 241, 240, 1);
    color: rgba(55, 53, 47, 1);
    cursor: pointer;
}

.hidden {
    display: none;
}