.quicknote {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 15px;
    position: relative;
    line-height: 40px;
}
.title > textarea {
    font-size: inherit;
    font-weight: 700;
}

.emoji {
    margin: 5px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}


.emoji:hover {
    cursor: pointer;
    background: rgb(241, 241, 240, 1);
    border-radius: 4px;
}

.textarea {
    resize: none;
}