.app {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.app_disabled {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  /* opacity: 1; */
  z-index: 9999;
}

.main {
  background-color: white;
  color: rgb(55, 53, 47);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

textarea, textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}