.app {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

textarea, textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  resize: none;
  /* background: red; */
}