.app {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.main {
  background-color: var(--page);
  color: var(--text);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

textarea, textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  width: 100%;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

  /* Pastels */
  /* --pastel-yelow: #faedcb;
  --pastel-green:  #c9e4de;
  --pastel-blue: #c6def1;
  --pastel-purple: #dbcdf0;
  --pastel-pink: #f2c6de;
  --pastel-orange: #f7d9c4; */


    /* --highlight-grey: rgb(234, 234, 233); */
    /* --highlight-grey-darker: rgb(223, 223, 222);
    --light-grey: rgba(55, 53, 47, 0.65);
    --medium-grey: rgba(124, 123, 117, 1);
    --grey: #5F5E5B;
    --black: #1D1B16;
    --box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, 
    rgba(15, 15, 15, 0.1) 0px 5px 10px,
     rgba(15, 15, 15, 0.2) 0px 15px 40px; */