/* So colors can be unified. */
:root {
    --highlight-grey: rgb(234, 234, 233);
    --highlight-grey-darker: rgb(223, 223, 222);
    --light-grey: rgba(55, 53, 47, 0.65);
    --medium-grey: rgba(124, 123, 117, 1);
    --box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, 
    rgba(15, 15, 15, 0.1) 0px 5px 10px,
     rgba(15, 15, 15, 0.2) 0px 15px 40px;


    /* Pastels */
    --pastel-yelow: #faedcb;
    --pastel-green:  #c9e4de;
    --pastel-blue: #c6def1;
    --pastel-purple: #dbcdf0;
    --pastel-pink: #f2c6de;
    --pastel-orange: #f7d9c4;
}


