.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.inactive {
    background-color: rgba(251, 251, 250, 1);
    color: rgba(55, 53, 47, 1);
}

.active {
    background-color: rgb(241, 241, 240, 1);
    color: rgba(55, 53, 47, 1);
    cursor: pointer;
}

.profile_img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.profile_text {
    padding-left: 10px;
}