.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.profile_img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.profile_text {
    padding-left: 10px;
}