.sidebar {
    display: flex;
    flex-direction: horizontal;
    background: var(--sidebar);
    color: var(--text);
    margin: 0;
    cursor: pointer;
}

.highlight {
    background-color: var(--hover-grey);
}

.sidebar_edge {
    width: 2px;
    background-color: var(--hover-grey);
    cursor: move;
    position: relative;
}

.sidebar_edge:hover {
    width: 4px;
    background-color: var(--hover-grey)
}
.sidebar_edge:active {
    width: 4px;
    background-color: var(--hover-grey)
}

.profile {
    width: 35px;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5px;
}


/* @media (max-width: 800px) {
    .sidebar {
        display: none;
    }
} */    