@import '../../../standard.module.css';

.sidebar_item {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    line-height: .9;
    padding: 5px 5px 5px 5px;
}
.sidebar_item_hover {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    line-height: .9;
    padding: 5px 5px 5px 5px;
    background: var(--highlight-grey-darker);
    cursor: pointer;
    border-radius: 5px;
}

.sidebar_item:hover {
    background: var(--highlight-grey-darker);
    border-radius: 5px;
    cursor: pointer;
}

.additional_options {
    display: flex;
    box-sizing: border-box;

}

.additional_options_none {
    display: none;
}

.droppable_area {
    height: 2px;
    background: var(--highlight-grey);
}

.ellipses, .ellipses:hover {
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ellipses:hover {
    cursor: pointer;
    background: rgb(229, 229, 228);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.others {
    display: flex;
    padding-right: 5px;
}