@import '../../../standard.module.css';

.sidebar {
    display: flex;
    flex-direction: horizontal;
    color: rgb(55, 53, 47);
    background-color: rgb(251, 251, 250);
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.sidebar_edge {
    width: 2px;
    background-color: var(--highlight-grey-darker);
    cursor: move;
}

.sidebar_edge:hover {
    width: 4px;
    background-color: var(--black)
}
.sidebar_edge:active {
    width: 4px;
    background-color: var(--black)
}

.profile {
    width: 35px;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5px;
}


/* @media (max-width: 800px) {
    .sidebar {
        display: none;
    }
} */    